body{
    font-family: 'Bebas Neue', cursive;
}
.bg{
    background-color:rgb(255, 249, 239);
    padding-bottom: 90px;
}
.nav-font{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h1{
    font-size: 70px;
}
.yellow{
    color: rgb(224, 176, 55);
}
.blue{
    color:rgb(22, 70, 116);
}
.details{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgb(95, 95, 95);
    font-weight: bold;
}
i{
    color: white;
}
.buy-now{
    background-image:linear-gradient(180deg, rgb(129, 177, 34), rgb(107, 151, 18) );
    padding: 20px 40px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 10px;
}
.buy-btn{
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.card-content{
    border: 0;
    border-radius: 15px;
}
.card-content img{
    background-color: rgb(238, 241, 245);
    border-radius: 10px;
    padding: 20px 30px;
    height: 350px;  
}
.card-content h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.jackets{
    font-family: 'Lato', sans-serif;
    color:rgb(22, 70, 116);
    font-weight: 700;
}
.margin-left{
    margin-left: -12px;
}
.other-content{
    margin: 80px 0px;
}

.other-content img{
    width: 120px;
    padding: 20px;
    border-radius: 10px;
}
.side-img img{
    width: 280px;
    height: 420px;
}
@media (max-width:576px ){
    .buy-now{
        margin-bottom: 20px;
    }
    .bg{
        padding-bottom:20px;
    }
    .header-img{
        width:100%;
    }
    .card-content img{
        height: 450px; 
    }
    .jacket-title{
        text-align: center;
        font-size: 50px;
    }
    .jackets{
        font-size: 30px;
    }
    .card-content h2{
        font-size: 50px;
    }
    .buy-now{
        padding: 25px 50px;
    }
    .other-content{
        flex-direction: column-reverse;
    }
    .side-img img{
        height: 250px;
        width: 350px;
    }
    .other-content img{
        display: block;
        margin: 0 auto;
    }
    .position h4, p{
        display: block;
        text-align: center;
    }
}